body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 20px;
    color: #333;
}

ul {
    text-align: left;
}

h2 {
    text-align: left;
    font-size: 12px;
}